
    .aside {
        background: $black;
        width: 117px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        top: 0;
        box-shadow: $shadow;
        
    }
    .aside-text {
        color: $white;
        text-align: left;
        transform: rotate(-90deg);
        font-size: 12px;
        width: 139px;
    }
    .nav-aside {
        display: flex;
        flex-direction: column;
        gap:20px;
    }


