
    .header {
        display: flex;
        align-items: center;
        height: 91px;
        background: $black;
        padding: 0 26px;
        position: fixed;
        z-index: 1;
        width: 100%;
        box-shadow: $shadow;
        .header-logo {
            width: 30%;
        }
    }

