@include desktop{
    .chart-container {
        margin-top: 41px;
        display: flex;
        flex-direction: column;
        width: 832px;
        height: 320px;
        border-radius: 5px;
        background-color: #FBFBFB;
        padding-top: 25px;
        &_title{
            color: #20253A;
            font-size: 15px;
            padding-left: 25px;
        }
        .recharts-default-legend {
            
            line-height: 26px;
            display: flex;
            justify-content: flex-end;
            gap: 32px;
        }
        .recharts-legend-item-text {
            font-size: 14px;
        }
        .custom-tooltip{
            background: #E60000;
            width: 39px;
            height: 63px;
            font-size: 7px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
        }
    }
}

