@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/************ MINI RESET ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.App{
    min-width: 1024px;
}
.dashboard-container {
    padding-left: 224px;
    padding-top: 158px;
    display: flex;
    gap: 31px;
    h1{
        font-size: 48px;
    }
    .name{
        color: $red;
    }
    &_text{
        margin-top: 30px;
        font-size: 18px;
    }
    .container-three-charts{
        display: flex;
        gap:30px ; 
        margin-top: 28px;
    }
    .cards-area{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top:152px ;
    }
    .card {
        opacity: 0; /* Initiallement invisible */
        animation: fadeIn 0.5s ease forwards; /* Animation de fondu */
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0; /* Commencez avec une opacité de 0 */
            transform: translateY(20px); /* Faites glisser l'élément vers le bas */
        }
        to {
            opacity: 1; /* Finissez avec une opacité de 1 */
            transform: translateY(0); /* Arrêtez le déplacement */
        }
    }
}



